*  /*ASPECTOS GENERRALES DE LA WEB*/{ 
    margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
  }
  .fondo{
    background: #0d0d0d;
  }

#navbar {
overflow: hidden;
background-color: #1d3640;
padding: 90px 10px;
transition: 0.4s;
position: fixed;
width: 100%;
top: 0;
z-index: 99;
}

#navbar a {
float: left;
color: white;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px; 
line-height: 25px;
border-radius: 4px;
}

#navbar #logo {
font-size: 35px;
font-weight: bold;
transition: 0.4s;
}

#navbar a:hover {
background-color: #7784bc;
color: black;
}

#navbar a.active {
background-color: white;
color: black;
}

#navbar-right {
float: right;
}

@media screen and (max-width: 580px) {
#navbar {
  padding: 20px 10px !important;
}
#navbar a {
  float: none;
  display: block;
  text-align: left;
}
#navbar-right {
  float: none;
}
}

.main .article{
    background: #2c4c59;
    width: 95%;
    margin: 10px 20px;
    float: left;  
    border-radius: 10px;
}

.titvideo{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.video{
    border-radius: 20px;
    width: 55%;
    display: flex;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
}

.foto1{
  width: 50%;
}

.foto2{
  width: 50%;
}

.foto3{
  width: 50%;
}

.podcast{
  text-align: center;
  color: #f0f1f2;
  text-align: justify;
  float: left;
  font-size: 230%;
  padding: 90px 15px 15px 90px;
}

